<div class="datalist-overlay">
    <div class="datalist-wrapper">
        <div id="DatalistDialog" class="datalist-dialog">
            <div class="datalist-header">
                <span class="datalist-title"></span>
                <button class="datalist-close">×</button>
            </div>
            <div class="datalist-body">
                <div class="datalist-search-area">
                    <input class="datalist-search" />
                    <input class="datalist-rows" />
                    <button class="datalist-selector"></button>
                </div>
                <div class="datalist-content">
                    <div class="datalist-dialog-loader">
                        <span></span>
                    </div>
                    <div class="datalist-dialog-error">
                    </div>
                    <div class="datalist-table">
                        <table>
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datalist-footer">
                        <button type="button" class="datalist-load-more"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
